// color
$h3Before: #cc8b76;
$keyGray: #7b7b79;
$keyOrange: #f7be6c;
$keyBrown: #681116;
$keyBlack: #212121;
$transparentWhite:rgba(254, 254, 254, .75);

// font
$en: 'Molengo', sans-serif;
$zh: "微軟正黑體", sans-serif;
$baseFz: 16px;

// rwd
$web: 1200px;
$tab: 767px;
$cell:577px;
$phone: 376px;